<%= form_for @host, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :hostname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hostname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ip_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ip_address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :services, :class => 'control-label' %>
    <div class="controls">
      <%= f.fields_for :host_services do |relation| %>
        <%= relation.select :service_id,
            options_for_select([['UNDEFINED', nil]] + Service.all.map{|s| [s.name, s.id]}, relation.object.service_id) %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :roles, :class => 'control-label' %>
    <div class="controls">
      <%= f.fields_for :host_roles do |relation| %>
        <%= relation.select :role_id,
            options_for_select([['UNDEFINED', nil]] + Role.all.map{|r| [r.name, r.id]}, relation.object.role_id) %>
      <% end %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        hosts_path, :class => 'btn' %>
  </div>
<% end %>
