<%-
   model_class = @host.class
   services    = @host.services
   roles       = @host.roles
-%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class="row">
  <div class="span5">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:ip_address) %>:</strong></dt>
      <dd><%= @host.ip_address %></dd>
      <dt><strong><%= model_class.human_attribute_name(:hostname) %>:</strong></dt>
      <dd><%= @host.hostname %></dd>
      <% if services.size -%>
        <dt><strong><%= model_class.human_attribute_name(:services) %>:</strong></dt>
        <% services.each do |service| -%>
          <dd><a href="<%= service_path(service) %>"><%= service.name %></a></dd>
        <% end -%>
      <% end -%>
      <% if roles.size -%>
        <dt><strong><%= model_class.human_attribute_name(:roles) %>:</strong></dt>
        <% roles.each do |role| -%>
          <dd><%= role.name %></dd>
        <% end -%>
      <% end -%>
    </dl>
  </div>
  <div class="span7">
    <%= image_tag @host.graph_path_for('load', 'load') %>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              hosts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_host_path(@host), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              host_path(@host),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>

<div class="page-header">
  <h2><%=t '.graphs' %></h2>
</div>

<div class="row">
  <div class="span12">
    <ul>
      <% @host.graphs && @host.graphs.each do |graph| -%>
        <li><a href="#<%= graph.ident %>"><%= graph.name %><% if graph.number %>[<%= graph.number %>]<% end %></a></li>
      <% end -%>
    </ul>
  </div>

  <% @host.graphs && @host.graphs.each do |graph| %>
    <div id="<%= graph.ident %>" class="span12">
      <div class="page-header">
      <h3><%= graph.name %><% if graph.number %>[<%= graph.number %>]<% end %> metrics <small>(<%= graph.rrds.size %>)</small></h3>
      </div>
    </div>
    <% graph.rrds.each do |rrd| %>
      <div class="span6">
        <%= image_tag @host.graph_path_for(graph.ident, rrd.name) %><br />
      </div>
    <% end %>
  <% end %>
</div>
